<!DOCTYPE html>
<html>
    <head>
        <title>Info Page</title>
    </head>
    <body>
        <h1>Info Page</h1>
        <p>This is the info page: marmots are cool! But also, what's a marmot? I might have just typed the first thing that came into my mind. Which was a marmot.</p>
    </body>
</html>
